<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Choose code block</title>
</head>
<body>
  <h1>Choose code block</h1>
  <ul>
    {{#each codeBlocks}}
      <li><a href="/code/{{this._id}}">{{this.title}}</a></li>
    {{/each}}
  </ul>
</body>
</html>
